parameters:
    level: 8

    paths:
        - tests

    excludePaths:
        - tests/application/public/bundles

    ignoreErrors:
        # PHPStan

        - '#with generic interface Symfony\\Component\\Form\\\w+ does not specify its types: TData#'
