includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    excludePaths:
        - tests/application/public/bundles/

    ignoreErrors:
        # Symfony

        - '#with generic interface Symfony\\Component\\Form\\\w+ does not specify its types: TData#'

        # Netgen Content Browser

        - '#Method Netgen\\Bundle\\ContentBrowserBundle\\Tests\\Controller\\API\\ApiTestCase::browser\(\) should return Netgen\\Bundle\\ContentBrowserBundle\\Tests\\Controller\\API\\KernelBrowser but returns Zenstruck\\Browser\\KernelBrowser#'
