includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 8

    paths:
        - lib
        - bundle

    ignoreErrors:
        # PHPStan

        - '#extends generic class Symfony\\Component\\Form\\\w+ but does not specify its types: TData#'
