includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    ignoreErrors:
        # Symfony Config component
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
            path: bundle/DependencyInjection/Configuration.php

        # Compatibility with Symfony 3.4
        -
            message: '#Netgen\\Bundle\\ContentBrowserBundle\\DependencyInjection\\TreeBuilder::__construct\(\) does not call parent constructor#'
            path: bundle/DependencyInjection/TreeBuilder.php
