includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    dynamicConstantNames:
        - Symfony\Component\HttpKernel\Kernel::VERSION_ID

    ignoreErrors:
        # Compatibility with older versions of Symfony

        -
            message: '#Call to an undefined method Netgen\\ContentBrowser\\Utils\\BackwardsCompatibility\\TreeBuilder::root\(\).#'
            path: lib/Utils/BackwardsCompatibility/TreeBuilder.php

        -
            message: '/Parameter #1 \$event of method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) expects object, string given/'
            path: bundle/EventListener/SetConfigListener.php

        -
            message: '/Parameter #2 \$eventName of method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) expects string\|null, Netgen\\ContentBrowser\\Event\\ConfigLoadEvent given/'
            path: bundle/EventListener/SetConfigListener.php

        -
            message: '/Unable to resolve the template type TEvent/'
            path: bundle/EventListener/SetConfigListener.php

        - "#Call to function method_exists\\(\\) with Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\ExceptionEvent and '(get|set)Exception' will always evaluate to false.#"
        - "#Call to function method_exists\\(\\) with Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\ExceptionEvent and '(get|set)Throwable' will always evaluate to true.#"
        - "#Call to function method_exists\\(\\) with Symfony\\\\Component\\\\DependencyInjection\\\\ContainerBuilder#"
        - "#Call to function method_exists\\(\\) with Symfony\\\\Component\\\\HttpKernel\\\\Event\\\\KernelEvent and 'isMainRequest' will always evaluate to true.#"

        - "#Casting to string something that's already string.#"

        # Content Browser specifics

        - "#Call to function method_exists\\(\\) with Netgen\\\\ContentBrowser\\\\Backend\\\\BackendInterface and 'searchItems(Count)?' will always evaluate to true.#"
